{% extends 'base.html' %}


{% block content %}
<h1 class="country-title">Amsterdam</h1>
<section class="flex-container">
    <div class="flex-item">
        <h2>Overloaded with adorable canals and bridges, Amsterdam brings the charm</h2>
        <p>
            Looking out from the 2329ft (710m) peak of Corcovado, you will see why Rio is called the Cidade Maravilhosa. Lushly forested mountains fringe the city, shimmering beaches trace the shoreline and a string of tiny islands lie scattered along the seafront. Far from being mere cinematic backdrop, this seaside beauty hosts outstanding outdoor adventures: hiking in the Tijuca rainforest, cycling alongside the lake and beaches, sailing across Baía de Guanabara (Guanabara Bay), and surfing, rock climbing and hang gliding amid one of the world's most stunning urban landscapes.
        </p>
    </div>

    <div class="flex item">
        <img src="https://i.pinimg.com/originals/17/31/01/173101abae48d1e6612ced6b29935fab.jpg" alt=""id="amsterdam">
    </div>  
</section>
<br>
<br>


    
{% endblock content %}