{% extends 'base.html' %}

{% block content %}

<div class="going-section">

<h1>{{ destination.traveller.name }} you are going to {{ destination.city }}!</h1>
<h1><a href="https://www.skyscanner.net/">Book Flights Now!</a></h1>

<iframe src="https://giphy.com/embed/ehZzdZPnnQFDqNn0MF" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sharkweek-discovery-shark-week-trip-ehZzdZPnnQFDqNn0MF"></a></p>

<h2 style="text-align: center;"><a href="/bucket-list">See More:</a></h2>

</div>
    
{% endblock  %}