{% extends 'base.html' %}

{% block content %}

<main>
    
    <div class="flex-container">
        <h1 id="bucket-list-title">Your Bucket List:</h1> 
        
        <form action="" class="flex-item">
            <br>
            <br>
            <label for="">Choose Your Destination:</label>
            <select name="" id=""></select>
            <label for="">When by:</label>
            <input type="date">
            <label for=""></label>
            <input type="text">
            <label for=""></label>
        </form> 
        <br>
        <div class="image-sec">
            <img src="https://images.hdqwalls.com/wallpapers/milford-sound-new-zealand-5k-k6.jpg" alt="NZ" class="flex-item">
            <h2><a href="/" class="centered">Your Next Destination Awaits...</a></h2>
        </div>
        
    </div>

</main>


{% endblock %}