{% extends 'base.html' %}


{% block content %}
<h1 class="country-title">Rio De Janeiro</h1>
<section class="flex-container">
    <div class="flex-item">
        <h2>Overloaded with adorable canals and bridges, Amsterdam brings the charm</h2>
    
        <p>
            From its picturesque canals and bridges to its historic homes, Amsterdam is a full-blown fairytale. The brightly-coloured bicycles and tulip stands around town don’t hurt either. Must-see sights include the Anne Frank House, the Van Gogh Museum, and the world's only floating flower market. Rent a bike and join thousands of locals peddling around. Other visitors might want to linger in the local coffee shops, which is just a normal part of the city's landscape.
            </p>
    </div>

    <div class="flex item">
        <img src="https://img.besthqwallpapers.com/Uploads/2-1-2019/76398/4k-rio-de-janeiro-sunset-panorama-harbor.jpg" alt=""id="rio">
    </div>
</section>
<br>
<br>
{% endblock content %}