{% extends 'base.html' %}

{% block content %}

    <div class="destination-box-show">
        <p>{{ destination.traveller.name }}</p>
        <hr>
        <p>{{ destination.city }}</p>
        <p>{{ destination.country }}</p>
        <p>{{ destination.duration }}</p>
        <p>{{ destination.checked_off }}</p>
        <p><a href="/destinations/{{destination.id}}/edit " class="edit">Edit</a></p>
        <form class="delete-form" action="/destinations/{{destination.id}}/delete" method="POST">
            <button class="submit-button"><i>Delete</i></button>
          </form> 
    </div>
    <br>
    <br>
    

    

 
    
{% endblock  %}