{% extends 'base.html' %}


{% block content %}
<h1 class="country-title">Sydney</h1>
<section class="flex-container">
    <div class="flex-item">
        <h2>Overloaded with adorable canals and bridges, Amsterdam brings the charm</h2>
        <p>Sydney is home to must-visit icons like the Sydney Harbour Bridge and Opera House, but this Harbour City is constantly evolving. New rooftop bars, theatre shows and designer shops pop up at every turn, and the urban excitement is perfectly balanced by afternoons spent lying on the sand. Plus, with diverse destinations at its doorstep, Sydney is the perfect base for day trips and weekends away.</p>
        <img src="https://assets.atdw-online.com.au/images/788eb90bc6b005e8b3492b6edeabbe60.jpeg?rect=0%2C0%2C2066%2C1550&w=2048&h=1536&rot=360&q=eyJ0eXBlIjoibGlzdGluZyIsImxpc3RpbmdJZCI6IjU2YjIzZWFiMjY2MTQwNTk0NTY4MWViNyIsImRpc3RyaWJ1dG9ySWQiOiI1NmIxZWI5MzQ0ZmVjYTNkZjJlMzIwYzgiLCJhcGlrZXlJZCI6IjU2YjFlZTU5MGNmMjEzYWQyMGRjNTgxOSJ9" alt="" id="bondi">
    </div>

    <div class="flex item">
        <img src="https://ak.picdn.net/shutterstock/videos/5963384/thumb/11.jpg" alt=""id="sydney">
    </div>
</section>
<br>
<br>
{% endblock content %}