main {
    margin: 0;
    }


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-item1 {
    width: 33.3%;
    background-color: azure;
    margin: 20px;
    border: 2px solid rgb(2, 97, 92);
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(2, 97, 92);
    text-align: center;
    padding-top: 100px;
    
}

.flex-item2 {
    flex: auto;
    width: 66.7%;
}

#milford {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92);
    
}


.centered {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    color: white;
    background-blend-mode: normal;
  }
 
 
