main {
    margin: 0;
    }


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-item1 {
    width: 33.3%;
    background-color: azure;
    margin: 20px;
    border: 2px solid rgb(2, 97, 92);
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(2, 97, 92);
    text-align: center;
    padding-top: 100px;
    
}

.flex-item2 {
    width: 1000px;
    flex: auto;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92);
    overflow: hidden;  
}

.flex-item2 img {
    transition: transform .3s;   /* smoother zoom */ 
}

.flex-item2:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;   
}

#milford {
    position: relative;
    right: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;  
}

.centered {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    color: white;
    background-blend-mode: normal;
  }


#amsterdam {
    margin: 20px;
    width: 800px;
    height: 555px;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92); 
}


#sydney {
    margin: 20px;
    width: 800px;
    height: 555px;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92);   
}

#rio {
    margin: 20px;
    width: 800px;
    height: 555px;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92);   
}

.country-title {
    font-size: 50px;
    color: rgba(49, 49, 49, 0.904);
    background-blend-mode: normal;
    text-shadow: 0px 2px 10px rgb(2 97 92);
}

#bondi {
    width: 700px;
    height: 410px;
    border-radius: 15px;
    border: 2px solid rgb(2, 97, 92);
}


.flex-item {
    margin-left: 20px;
    text-align: justify;
}


.giphy-embed {
    position: relative;
    left: 33%;
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgb(2, 97, 92);
}
