#search {
    position: relative;
    bottom: 45px;
    left: 30px;
    border: 1px solid green;
    border-radius: 10px;
}

#cook-islands {
    z-index: 1;
    width: 100%;
    height: 100%;
}



.text-center {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-blend-mode: normal;
    text-shadow: 0px 2px 10px rgb(2, 97, 92);
  }

  .text-center:hover {
    color: white;
    text-shadow: 0px 2px 10px white;
}


.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

.card {
    width: 500px;
    height: 300px;
    text-align: center;
    transition: 0.2s all ease-in-out;
    }

.card:hover {
    transform: scale(1.05);
}

#card1 {
    height: 95%;
    width: 85%;
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgb(2, 97, 92);
}



  
.title {
    position: relative;
    font-size: 50px;
    top: 40%;
    left: 0%;
}


#card2 {
    height: 95%;
    width: 85%;
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgb(2, 97, 92);
}

#card3 {
    height: 95%;
    width: 85%;
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgb(2, 97, 92);
}

footer {
    background-color: white;
    margin-bottom: 50px;
}



footer {
    background-image: linear-gradient(to bottom, rgb(7, 153, 146, 0.596) , white);
    
}

#footer {
    position: relative;
    left: 30px;
    color: white;
    text-shadow: 0px 10px 10px rgb(7, 153, 146, 0.596);
}

#suggestions {
    position: relative;
    top: 80px;
    left: 80px;
    color: rgb(2, 97, 92);
    
}






