.destination-container {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 20px;
    margin: 10px;
    

}

.destination-box {
    background-image: linear-gradient(white, rgb(2, 97, 92));
    width: 200px;
    height: 270px;
    text-align: center;
    border: 2px solid rgb(2, 97, 92);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(2, 97, 92);
    
}

.destination-box-show {
    position: relative;
    left: 20%;
    background-image: linear-gradient(white, rgb(2, 97, 92));
    width: 200px;
    height: 270px;
    text-align: center;
    border: 2px solid rgb(2, 97, 92);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(2, 97, 92);
    
}

.destination-box-edit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    position: relative;
    left: 20%;
    background-image: linear-gradient(white, rgb(2, 97, 92));
    width: 400px;
    height: 270px;
    border: 2px solid rgb(2, 97, 92);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(2, 97, 92);
    
}




.delete-form {
    position: relative;
    top: -10px;
}

