.login {
    position: relative;
    top:100px;
    left: 50%;
    background-image: linear-gradient(white, rgb(2, 97, 92));
    box-shadow: 0px 2px 10px rgb(2, 97, 92);
    width: 400px;
    height: 210px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    }


#sign-up {
    color: white;
}