.login {
    position: absolute;
    background-image: linear-gradient(white, rgb(2, 97, 92));
    box-shadow: 0px 2px 10px rgb(2, 97, 92);
    left: 50%;
    top: 30%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    }