body {
    font-family: 'Lobster Two', cursive;
    background-color: white;
    margin: 0 auto;
}

h1 {
    text-align: center;
}
.nav-bar-container {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0px 2px 10px rgb(2, 97, 92); */
}

nav ul {
    display: flex;
    justify-content: space-between;
}

 li {
    padding-left: 50px;
    list-style: none;
    text-decoration: none;
    font-size: larger;
}

a {
    text-decoration: none;
    color: rgb(2, 97, 92);
}

a:hover {
    color: white;
    text-shadow: 0px 2px 10px rgb(2, 97, 92);;
}



















        