<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bucket-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">    
    <title>Voyager</title>
</head>
<body>
    <header>
            <nav class="nav-bar-container">
                <h1 class="nav-bar-item1"><a href="/">Voyager</a></h1>
                <ul nav-list>
                    <li class="nav-bar-item2"><a href="/about">About</a></li>
                    <li class="nav-bar-item3"><a href="/destinations">Where next?</a></li>
                    <li class="nav-bar-item4"><a href="/bucket-list">Bucket List</a></li>
                    <li class="nav-bar-item5"><a href="/login">Log in</a></li>
                </ul>
            </nav>
            
    </header>
    
    <section>
        {% block content  %}
        
        {% endblock  %}
    </section>

    <footer>
        <div id="footer">
            <br>
            <h2>Voyager</h2>
            <h3>Where Next?</h3>
    
            <h2>Follow Us</h2>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
    
            <h3>Sign Up Now!</h3>
    
            <input type="Email" placeholder="Email:">
            <br>
            <input type="button" value="Submit">
            <br>
            <br>
            <br>

        </div>
    </footer>
</body>
</html>