{% extends 'base.html' %}

{% block content %}


<div class="fade">
    <a href="/destinations/new"><h1 class="text-center" id="title-middle">'Where next?'</h1></a>
        <img src="https://res.cloudinary.com/enchanting/q_70,f_auto,c_fill,g_face/hj-web/2020/10/hybris-rar.4579.015.jpg" alt="" id="cook-islands"> 

    
</div>
<h2 id="suggestions">Suggestions:</h2>
<section class="cards">
    <div class="card">
        <a href="/destinations/amsterdam">
            <h2 class="title">Amsterdam</h2>
            <img src="https://cdn.britannica.com/30/180130-138-4FC01CDD/Overview-Amsterdam.jpg?w=800&h=450&c=crop" alt="" id="card1">
        </a>  
    </div>
    <div class="card">
        <a href="/destinations/rio">
            <h2 class="title">Rio De Janeiro</h2>
            <img src="https://cdn.kimkim.com/files/a/content_articles/featured_photos/67e29f693c4419341c375d333e11c210955cf3dc/big-4961ddd185dc668d672a13b52b6fe90f.jpg" alt="" id="card2">
        </a>
    </div>
    <div class="card">
        <a href="/destinations/sydney">
            <h2 class="title">Sydney</h2>
            <img src="https://cms.finnair.com/resource/blob/673872/3523a759b61b788b834fe56aa57fa255/sydney-main-data.jpg" alt="" id="card3">
        </a>
    </div>
</section>
{% endblock  %}