
{% extends 'base.html' %}



{% block content %}
<section>
        <br>
        <br>
        <form action="/login" method="post" class="login">
            <br>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="option">
            </div>
            <br>
            <div>
                <label for="age">Age:</label>
                <input type="text" id="age" name="age" class="option">
            </div>
            <br>
            <button type="submit" class="submit-button">Add Guest</button>
            <br>
            <h2><a href="/destinations/new">Add Destination</a></h2>

        </form>
    

</section>
    

{% endblock %}

